/* _content/Northwind.Razor.Employees/Component1.razor.rz.scp.css */
.my-component[b-dlg9r4myrj] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
