@model Northwind.EntityModels.Category
@{
    ViewData["Title"] = "Category Detail - " + Model.CategoryName;
} 
<h2>Category Detail</h2>
    <div>
        <dl class="dl-horizontal">
            <dt>Category Id</dt>
            <dd>@Model.CategoryId</dd>
            <dt>Product Name</dt>
            <dd>@Model.CategoryName</dd>
            <dt>Products</dt>
            <dd>@Model.Products.Count</dd>
            <dt>Description</dt>
            <dd>@Model.Description</dd>
        </dl>
    </div>

    @*
    This is a Razor HTML template in an ASP.NET Core application. It displays a category detail page with 
    the following information:

        Category ID

        Category Name (labeled as "Product Name", which seems to be a mistake)

        Number of products in the category

        Category description
    
    The data is retrieved from a Category model object, which is passed to the view as a 
    parameter (@model Northwind.EntityModels.Category). The page title is dynamically set to include 
    the category name.
    *@