@model Northwind.EntityModels.Employee
<div class="card border-dark mb-3" style="max-width: 18rem;">
  <div class="card-header">@Model?.LastName, @Model?.FirstName</div>
  <div class="card-body text-dark">
    <h5 class="card-title">@Model?.Country</h5>
    <p class="card-text">@Model?.Notes</p>
  </div>
</div>

@*
    A Bootstrap card showing the following information:

    While reviewing the preceding markup, note the following:

        By convention, the names of partial views start with an underscore.

        If you put a partial view in the Shared folder, then it can be found automatically.

        The model type for this partial view is a single Employee entity.

        We use Bootstrap card styles to output information about each employee.
*@